<!-- Generated template for the ResultatListComponent component -->
<ion-list *ngIf="resultatList&&resultatList.length"  no-border class="transparent-list">
  <a ion-item  *ngFor="let resultat of resultatList" [hidden]="resultat.hide" text-wrap [href]="resultat.url" target="'_blank'">
 {{resultat.description}}
 <p *ngIf="resultat.date"><small> publié le {{resultat.date|date: 'dd MMMM yyyy'}}</small></p>
  <ion-note item-right>
    <ion-icon [name]="name(resultat.url)"></ion-icon>
  </ion-note>
  </a>
</ion-list>
