resultat-list {
      .list-item {
        color: #666666;
        background-color: transparent;
        border: none !important;
    .item-md,.label-md,{
      background-color: transparent;
  }        
      }
}
