<!-- Generated template for the ResultatListComponent component -->
<ion-list *ngIf="resultatList&&resultatList.length"  no-border class="transparent-list">
  <ion-item  *ngFor="let resultat of resultatList" [hidden]="resultat.hide" text-wrap >
 {{resultat.description}}
 <p *ngIf="resultat.date"><small>Depuis le {{resultat.date| date: 'dd/MM/yyyy'}}</small></p>
  <button ion-button icon-only outline item-right (click)="share(resultat)" >
    <ion-icon name="share-alt"></ion-icon>
  </button>
  <button ion-button icon-only outline item-right  (click)="downloadFile(resultat)" >
    <ion-icon [name]="name(resultat.url)"></ion-icon>
  </button>
  </ion-item>
</ion-list>
