<ion-header #head>
  <ion-navbar hideBackButton>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="concours&&concours.concours"> {{concours.concours.nom}}</ion-title>
    <ion-buttons right >
      <button ion-button icon-only (click)="showOptions()">
        <ion-icon name="md-open"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="observeAuth(true)">
      <ion-icon name="md-refresh"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content >
        <div class="card-background">
          <ion-card-header>Tableau de bord</ion-card-header>
          <ion-grid  style="height: 100%;justify-content: center;" *ngIf="!loaded">
              <ion-row justify-content-center align-items-center style="height: 100%;justify-content: center;">
                <ion-spinner   name="circles" class="vertical-center" ></ion-spinner> 
              </ion-row>
             </ion-grid>   
              <dashboord-item  [authInfo]="authInfo" [analyse]="analyse" [concours]="concours" *ngIf="concours &&analyse&& loaded" [isShow]="isShow"></dashboord-item>   
          <ion-card-content *ngIf="!analyse && loaded" >
            <p class="vertical-center" text-center>
           Nous n'avons  aucune information à vous présenter pour le moment car vous n'avez pas encore subi une évaluation.
            </p>
          </ion-card-content>
        </div>
        <div>
          <ion-card-header>Programme de préparation</ion-card-header>
          <programme [concours]="concours" [abonnement]="abonnement" [authInfo]="authInfo" [analyse]="analyse" *ngIf="concours" [matiereLoaded]="matiereLoaded" [abonnementLoaded]="abonnementLoaded"></programme>
        </div>
</ion-content>