<ion-header no-border >
  <ion-navbar >
    <ion-title>A propos</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-list >
  <ion-item *ngFor="let  page of appPages" (click)="openHelp(page)">
      {{page.title}} 
  <ion-icon [name]="page.icon" item-left color="primary"></ion-icon>
  </ion-item>
  <ion-item (click)="appInvite()">
    Recommander aux amis
    <ion-icon name="people" item-left color="primary"></ion-icon>
  </ion-item>
  <a ion-item href="http://www.facebook.com/centOrApp/">
    Notre page facebook 
<ion-icon name="logo-facebook" item-left color="primary"></ion-icon>
</a>  
  <a ion-item href="http://www.centor.org">
      Visitez notre site 
  <ion-icon name="md-globe" item-left color="primary"></ion-icon>
  </a> 
  <ion-item (click)="openContact()">
     Nous contacter
    <ion-icon name="call" item-left color="primary"></ion-icon>
  </ion-item>   
</ion-list>
<br>
<ion-list>
  <button ion-item (click)="setReference()" *ngIf="authInfo&&!ambassador">
    Code de reférence
    <ion-icon name="md-finger-print" item-left color="royal"></ion-icon>
    <ion-spinner item-right name="dots"></ion-spinner>
  </button>
  <ion-item *ngIf="authInfo&&ambassador">
    Code de reférence
    <ion-icon name="md-finger-print" item-left color="royal"></ion-icon>
    <ion-icon name="md-checkmark" item-right color="secondary" *ngIf="ambassador.uid"></ion-icon>
    <ion-note item-right *ngIf="ambassador.id">{{ambassador.id}}</ion-note>
  </ion-item>
  <button ion-item (click)="signup()" *ngIf="!authInfo">
    Créer un compte
    <ion-icon name="person" item-left color="royal"></ion-icon>
  </button>
</ion-list>
</ion-content>
<ion-footer no-border>
  <ion-item text-center>
    <p><small>&copy; 2017 Centor inc. All rights reserved</small></p>
  </ion-item>
</ion-footer>