
<ion-header>
  <ion-navbar>
  <button menuToggle ion-button icon-only *ngIf="showMenu">
    <ion-icon name="menu"></ion-icon>
  </button>
     <ion-title  *ngIf="concours&&concours.concours"> {{concours.nomConcours}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="loadOnline()" >
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="concours" hide-fab>
          <details-item [concours]="concours" *ngIf="concours"></details-item>
          <br>
          <ion-row no-padding justify-content-center align-items-center >
            <ion-col text-left col-6 >
              <button ion-button clear small color="primary" (click)="share($event)" icon-left>
                <ion-icon name='share-alt'></ion-icon>
                Partager
              </button>
            </ion-col>
            <ion-col text-right col-6>
              <button ion-button clear small color="primary" (click)="gotToPrepa()" icon-left *ngIf="isExpired(abonnement)&&(concours&&concours.matieres&&concours.matieres.length&&concours.price)">
                <ion-icon name='ios-notifications' ></ion-icon>
               <span >M'inscrire</span>
              </button>
            </ion-col>
      </ion-row>
   <programme [concours]="concours" [abonnement]="abonnement" [authInfo]="authInfo" *ngIf="concours" (open)="gotToPrepa($event)"  [matiereLoaded]="matiereLoaded" [abonnementLoaded]="abonnementLoaded"></programme>
 <ion-fab bottom right #fab  [@bounce]="bounceState" fixed style="z-index: 999">
  <button color="blue" id="cart-btn" ion-fab (click)="openChat()">
    <ion-icon name="ios-chatboxes-outline"></ion-icon>
    <ion-badge color="blue" id="cart-badge"  notification [groupname]="concours.id" *ngIf="concours"></ion-badge>
  </button>
</ion-fab>
</ion-content>
<ion-footer >
  <div *ngIf="isExpired(abonnement)&&(concours&&concours.matieres&&concours.matieres.length&&concours.price)">
  <button ion-button color="orange"  ion-button large full no-margin icon-left *ngIf="abonnementLoaded &&isExpired(abonnement)" (click)="gotToPrepa()">
    <ion-icon name="list" color="white"></ion-icon>
    <span *ngIf="!abonnement">Accéder aux travaux dirigés</span> <span *ngIf="abonnement"> Poursuivre la préparation</span>
  </button>
  </div>
</ion-footer>

