<!--
  Generated template for the MatiereDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border #head>
  <ion-navbar>
    <ion-title *ngIf="matiere">{{matiere.titre}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="observeAuth(false)">
      <ion-icon name="md-refresh"></ion-icon>
    </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openChat()">
        <ion-icon name="ios-chatboxes"></ion-icon>
        <ion-badge class="notifications-badge" notification [groupname]="concours.id" *ngIf="concours" color="danger"></ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  hide-header [header]="head">
  <div class="card-background">
    <ion-card-header>Tableau de bord</ion-card-header>
    <ion-grid  style="height: 100%;justify-content: center;" *ngIf="!loaded">
        <ion-row justify-content-center align-items-center style="height: 100%;justify-content: center;">
          <ion-spinner class="vertical-center"  name="dots" ></ion-spinner> 
        </ion-row>
       </ion-grid>     
    <dashboord-item [authInfo]="authInfo" [analyse]="analyse" [matiere]="matiere" [isShow]="isShow" *ngIf="analyse&&matiere && loaded"></dashboord-item>
  <ion-card-content *ngIf="!analyse&&loaded" >
  <p class="vertical-center">
    Nous n'avons aucune information à vous présenter pour le moment car vous n'avez pas encore subi une évaluation.
  </p>
    </ion-card-content>
  </div>
  <div>
<ion-card-header *ngIf="matiere&&matiere.ressources&&matiere.ressources.length">
  Les fiches de préparation
</ion-card-header>
<ion-list *ngIf="matiere&&matiere.ressources&&matiere.ressources.length" inset>

  <ion-item *ngFor="let item of matiere.ressources" (click)="openRessource(item)" class="item-ribbon" >
    <span class="ribbon {{ item.label }}" *ngIf="item.label">
      <span>{{ item.label }}</span>
    </span>
    <ion-icon item-left name="ios-copy"></ion-icon>
    <h2>{{ item.nom }}</h2>
    <p>{{item.description }}</p>
  </ion-item>
</ion-list>
    <ion-card-header *ngIf="matiere&&matiere.parties&&matiere.parties.length">Les évaluations </ion-card-header>
    <ion-list class="borded-list-item special-item" inset *ngIf="matiere&&matiere.parties&&matiere.parties.length">
      <ion-item *ngFor="let partie of matiere.parties" (click)="show(partie)" text-wrap [ngClass]="getClass(partie.analyse)" class="item-ribbon">
        <span class="ribbon {{ partie.label }}" *ngIf="partie.label">
          <span>{{ partie.label }}</span>
        </span>
        <ion-note item-right [class.avalable]="partie.isAvalable">{{partie.type}}</ion-note>
        {{partie.titre}}
        <p>{{partie.objectif}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>