<ion-header>
  <ion-navbar color="hcolor">
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="_concours&&_concours.length">
    <ion-item (click)="openChat(concours)" *ngFor="let concours of _concours" [hidden]="!concours.nomConcours">
           {{concours.nomConcours}}
        <p>{{concours.concours.ecole}}</p>
      <ion-icon name="people-outline" item-left></ion-icon>
      <ion-badge color="blue" id="cart-badge" notification [groupname]="concours.id" *ngIf="concours" item-right></ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
