programme {
ion-item,.mg-round{
    ion-icon{
        color:  #7F7F7F;
    }
img {
     border-radius: 6px;
        height: 40px;
        width: 40px;
      }
}

    ion-icon{
        color:  #7F7F7F;
    }
}
