<ion-split-pane when="md">
  <ion-menu [content]="content" id="menu-material" type="reveal" side="left" persistent="true">
    <ion-content class="transparent-header bg-light">
      <ion-header no-border no-shadow>
        <ion-navbar text-right>
          <ion-title>
            <img class="logo-menu" item-right src="assets/images/logo-light.png"/>
          </ion-title>
        </ion-navbar>
      </ion-header>
      <div id="profile-bg">
        <!--<img class="user-avatar round" *ngIf="user&& user.info"  [src]="user.info.photoURL" image-cache>-->
        <img class="user-avatar round" *ngIf="user&&user.info"
             [defaultImage]="defaultAvatar" [lazyLoad]="user.info.photoURL" [offset]="offset" image-cache>
        <p class="name" *ngIf="user">
          <span>{{(user.info.displayName || user.info.email)| limitTo:16}} </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          *ngIf="!isExpired(abonnement)"><b>{{abonnement.id}}</b></span>
        </p>
      </div>
      <ion-list no-lines>
        <ion-item-group *ngIf="paidConcours&&paidConcours.length">
          <ion-item-divider color="white" text-left>Mes programmes</ion-item-divider>
          <button menuClose="left" ion-item detail-none *ngFor="let  paid of paidConcours" (click)="showDetails(paid)">
            <ion-icon item-left name="folder-open"></ion-icon>
            {{paid.session.nomConcours}}
          </button>
        </ion-item-group>
        <ion-item-divider color="white" text-left *ngIf="paidConcours&&paidConcours.length">Options</ion-item-divider>
        <button menuClose="left" ion-item detail-none *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
        </button>
        <button menuClose="left" ion-item detail-none (click)="openMessages()">
          <ion-icon name="paper" item-left></ion-icon>
          <span>Les annonces</span>
          <ion-badge class="notifications-badge" notification [notificationId]="notificationId"
                     [registrationId]="registrationId" item-right
                     color="danger"></ion-badge>
        </button>
        <a  menuClose="left" ion-item detail-none [href]="telegram">
          <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"  color="primary" item-left></ion-icon>
          <span>Rejoignez-Nous </span>
        </a>
        <button menuClose="left" ion-item detail-none (click)="openSettingPage()">
          <ion-icon name="person" item-left></ion-icon>
          <span *ngIf="user">Mon compte</span>
          <span *ngIf="!user">Connexion</span>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
