<ion-header no-border>
    <ion-navbar primary>
      <ion-title>Paramètres</ion-title> 

    <ion-buttons  right>
          <ion-spinner name="circles" *ngIf="submited||uploapping"></ion-spinner>
          <button ion-button icon-only (click)="editInfo()" *ngIf="!submited&&!uploapping">
            <ion-icon name="md-done-all"></ion-icon>
          </button>
    </ion-buttons>
      <ion-buttons showWhen="ios" start>
        <button ion-button icon-left (click)="dismiss()" >
          <span>
            <ion-icon name="ios-arrow-back"></ion-icon>Back</span>
        </button>
      </ion-buttons>
    <ion-buttons showWhen="android,windows,core" end>
      <button ion-button icon-only (click)="dismiss()" >
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding="5">
      <ion-item class="list-item" (click)="pictureActionSheet()">
        <ion-avatar item-start >
          <img *ngIf="(!candidat||!candidat.photoURL)&&!photoURL" [src]="placeholderPicture">
          <img *ngIf="(candidat&&candidat.photoURL)&&!photoURL" [src]="candidat.photoURL ">
          <img *ngIf="photoURL" [src]="photoURL" >        
        </ion-avatar>
        <p class="username">Photo de profil</p>
        <button item-right  ion-button clear icon-only  *ngIf="!uploapping">
          <ion-icon name="ios-create"></ion-icon>
        </button>  
          <ion-spinner item-right name="circles" *ngIf="uploapping"></ion-spinner>
      <!--  
        <button item-right color="danger" clear ion-button icon-only (click)="cancelPicture()" *ngIf="photoURL">
          <ion-icon name="md-close"></ion-icon>
        </button>
        -->            
      </ion-item>
    <ion-list no-border>
        <ion-list-header>
         Informations Génerales
        </ion-list-header>
        <ion-item>
            <ion-icon name='person' item-start></ion-icon>
            <ion-label floating>Nom complet</ion-label>
            <ion-input type="text" value="" [(ngModel)]="candidat.displayName" name="displayName" ></ion-input>
          </ion-item>
  <ion-item>
    <ion-icon name='school' item-start></ion-icon>
    <ion-label  floating> Date de naissance</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM  YYYY" min="1960" max="2018" doneText="Terminé" cancelText="Annuler"
      name="dateMax" [(ngModel)]="candidat.dateMax" #expire_date="ngModel"></ion-datetime>
  </ion-item>
          <ion-item>
              <ion-icon name='call' item-start></ion-icon>
            <ion-label floating>Télephone</ion-label>
            <ion-input type="tel" [(ngModel)]="candidat.phone" name="phone"></ion-input>
          </ion-item>
          <ion-item>
          <ion-icon name='school' item-start></ion-icon>  
            <ion-label floating>Branche d'étude</ion-label>
           <ion-select [(ngModel)]="candidat.serie" name="serie" >
              <ion-option value="science">Sciences </ion-option>
              <ion-option value="Lettres">Lettres</ion-option>
              <ion-option value="economie">Economie</ion-option>
              <ion-option value="droit">Droit</ion-option>
              <ion-option value="technique">Technique</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name='ios-school' item-start></ion-icon>
            <ion-label floating>Diplôme</ion-label>
            <ion-select [(ngModel)]="candidat.niveau" name="niveau">
              <ion-option value="CEPE">CEPE </ion-option>
              <ion-option value="BEPC - GCE O/L">BEPC - GCE O/L</ion-option>
              <ion-option value="BAC - GCE A/L">BAC - GCE A/L</ion-option>
              <ion-option value="Licence & equiv">Licence & equiv</ion-option>
              <ion-option value="Master & equiv">Master& equiv</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
          <ion-icon name='md-pin' item-start></ion-icon>
            <ion-label floating>Ville de résidence</ion-label>
            <ion-select [(ngModel)]="candidat.ville" name="ville" >
                <ion-option value="Yaoundé">Yaoundé </ion-option>
                <ion-option value="Douala">Douala</ion-option>
                <ion-option value="Lymbé">Lymbé</ion-option>
                <ion-option value="Buea">Buea</ion-option>
                <ion-option value="Dschang">Dschang</ion-option>
                <ion-option value="Bafoussam">Bafoussam</ion-option>
                <ion-option value="Bamenda">Bamenda</ion-option>
                <ion-option value="Bambili">Bambili</ion-option>
                <ion-option value="Nkongssamba">Nkongssamba</ion-option>
                <ion-option value="Ngaoundéré">Ngaoundéré</ion-option>
                <ion-option value="Garoua">Garoua</ion-option>
                <ion-option value="Maroua">Maroua</ion-option>
                <ion-option value="Bertoua">Bertoua</ion-option>
                <ion-option value="Autre ville">Autre ville</ion-option>
              </ion-select>            
          </ion-item>              
          <ion-item no-lines>
          <ion-icon name='mail' item-start></ion-icon>           
            <ion-label floating>Adresse email</ion-label>
            <ion-input type="text" value="" [(ngModel)]="candidat.email" name="email" ></ion-input>
          </ion-item>
       <br>      
      </ion-list>    
      <!-- <ion-list no-border>
      <ion-list-header>
        Préferences
      </ion-list-header>
      <ion-item>
        <ion-icon name='settings' item-start></ion-icon>
        <ion-label>Choisir la langue</ion-label>
        <ion-select [(ngModel)]="candidat.langue">
            <ion-option value="fr">Français</ion-option>
            <ion-option value="en">English</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="candidat.enableNotifications" ></ion-toggle>
        <ion-label class="label">Notifications </ion-label>
        <ion-icon name='notifications' item-start></ion-icon>
      </ion-item>
 <ion-item>
        <ion-icon name='card' item-start></ion-icon>
        <ion-label >Thème et couleurs</ion-label>
        <ion-select [(ngModel)]="candidat.theme" (ionSelect)="changeTheme(candidat.theme)">
            <ion-option value="bleu-defaut">bleu</ion-option>
            <ion-option value="vert-citron"> vert-defaut</ion-option>
            <ion-option value="violet-sombre">violet</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>-->
    <ion-list>
      <ion-list-header>
        Actions
      </ion-list-header>
          <button ion-item  (click)="openHelp()" >
            <ion-icon name='md-help' item-left></ion-icon>
          Obtenir de l'aide
        </button>      
        <button ion-item   (click)="presentActionSheet()" >
          <ion-icon name='power' item-left></ion-icon>
        Me déconnecter
        </button>
    </ion-list>
  </ion-content>