short-list {
.item-divider-md{
    background-color: #eeeef1;
}
  .empty {
    text-align: center;
    margin-top: -20%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.2em;
    color:map-get($colors, light);
  }
}
