<ion-header no-border #head>
  <ion-navbar hideBackButton>
  <button menuToggle ion-button icon-only >
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>Annonces</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="loadData()">
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content hide-header [header]="head">
  <ion-list class="articles" *ngIf="_articles&&_articles.length">
    <ion-item *ngFor="let article of _articles" class="article-item" (click)="showArticle(article)" [hidden]="isNotForMe(article)">
      <h2>
        {{article.notification.titre}}
      </h2>
      <p>
        {{ article.notification.sousTitre}}
      </p>
      <small>
        {{article.sendDate| relativeTime:1}}
      </small>
      <ion-icon  [name]="getIcon(article)" item-left color="primary"></ion-icon>
     <!-- <ion-icon *ngIf="article.readed" name="ios-outline" item-left color="primary"></ion-icon>-->
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="!loaded" style="height: 100%;justify-content: center;">
    <ion-row style="height: 100%;justify-content: center;" justify-content-center align-items-center>
      <ion-spinner name="ios"></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="loaded&&(!_articles||!_articles.length)"style="height: 100%;justify-content: center;" >
    <ion-row justify-content-center align-items-center style="height: 100%;justify-content: center;">
      <div class="empty">
        <p>
          <svg fill="#C0C0C0" height="64" viewBox="0 0 24 24" width="64" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 3H4.99c-1.11 0-1.98.89-1.98 2L3 19c0 1.1.88 2 1.99 2H19c1.1 0 2-.9 2-2V5c0-1.11-.9-2-2-2zm0 12h-4c0 1.66-1.35 3-3 3s-3-1.34-3-3H4.99V5H19v10z"
            />
            <path d="M0 0h24v24H0V0z" fill="none" />
          </svg>
        </p>
        <p>Vous n'avez aucun message pour le moment.</p>
      </div>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab bottom right #fab>
    <button color="light" id="cart-btn" ion-fab (click)="openSearchPage()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
