carousel {
  min-height: 30%;
   .cover{
     background-size: cover;
     ion-slides{
       height: inherit;
     }
   }

   .classic-button{
     text-transform: none;
     font-size: 0.8em;
   }
}
