<!--<ion-header>
  <ion-navbar >
    <ion-title>Recevoir des alertes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->
<ion-content >
  <payment-frame [apikey]="paymentdata.apikey"
                 [serviceid]="paymentdata.serviceid"
                 [orderid]="paymentdata.orderid"
                 [amount]="paymentdata.amount"
                 [currency]="paymentdata.currency"
                 [acceptpartialpayment]="paymentdata.acceptpartialpayment"
                 [payerphone]="paymentdata.payerphone"
                 [payereremail]="paymentdata.payereremail"
  (onFrameError)="onPaymentCancel($event)">
  </payment-frame>
  <!-- <div class="empty">
     <p>
 <svg fill="#C0C0C0" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" *ngIf="isExpired(abonnement)">
   <path fill="none" d="M0 0h24v24H0z" />
   <circle cx="6.18" cy="17.82" r="2.18" />
   <path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"
   />
 </svg>
 <svg fill="#32db64" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" *ngIf="!isExpired(abonnement)">
   <path fill="none" d="M0 0h24v24H0z" />
   <circle cx="6.18" cy="17.82" r="2.18" />
   <path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"
   />
 </svg>

       </p>
       </div>
 <div text-center>
 <h2 *ngIf="isExpired(abonnement)">Restez au parfum !</h2>
 <p class="description" *ngIf="isExpired(abonnement)">
   Abonnez-vous pour recevoir les alertes push sur des concours
   ouverts ainsi que des bourse d'étude est disponibles.
   Discutez  avec un conseiller d'orientation.
 </p>
 <h2 *ngIf="!isExpired(abonnement)">Vous êtes abonné !</h2>
 <p class="description" *ngIf="!isExpired(abonnement)">
   Pendant deux mois,vous serez informé des nouveaux concours ouverts, des bourses d'étude et des stages académiques disponibles.
   Vous pouvez également demander à discuter avec un conseiller d'orientation ou simplement à être guidé pour un concours.
 </p>
 <p *ngIf="!isExpired(abonnement)">Votre code candidat est le <b>{{abonnement.id}}</b></p>
 </div>
 <div padding *ngIf="isExpired(abonnement)&&commande&&commande.data">
 <button ion-button block color="orange" (click)="confirmCommende()">M'abonner ~ ( {{commande.amount}}<sup>Fcfa</sup> )</button>
 <br>
 <button ion-button outline block color="orange" (click)="payForMe()">Faire payer pour moi</button>
 </div>
 <div padding *ngIf="!isExpired(abonnement)">
   <a icon-left ion-button block color="primary" href="https://api.whatsapp.com/send?phone=237655874410&text=Salut%20Mr%2FMme%20!%0D%0AJe%20suis%20le%20candidat%20N%C2%B0%20{{abonnement.id}}%0D%0AJe%20voudrais%20plus%20d%27information%20%C3%A0%20propos%20de">
     <ion-icon name="logo-whatsapp"></ion-icon>
     Discuter avec un conseiller
   </a>
 </div>
 <ion-fab bottom right #fab *ngIf="isExpired(abonnement)">
   <button ion-fab mini color="orange" (click)="help()">
     <ion-icon name="md-help"></ion-icon>
   </button>
 </ion-fab>-->
</ion-content>
