page-login-slider {
  $base-color: rgb(24, 72, 90);
  // Fullscreen centered image background

  .error-message .item-inner {
    border-bottom: 0 !important;
    color: #BE2222 !important;
    font-size: 0.7em;
  }
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
 ion-slides {height: auto; }  
  .content-slider {
  //  ion-slides,
    .swiper-container {
      height: 100%;
      width: auto;
    }
  }
  .zoom .slide-zoom {
   height: 100%;
  }
#login, .login{
     animation: mymove 5s infinite;
     animation-delay: 2s;
}
#singup,.singup{
     animation: mymove 5s infinite;
    animation-delay: 2s;
}
 

  .logo {
    height: auto;
    width: 12em;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-col {
    padding: 0 20px;
  }
  span,p{
    color: white;
  }
.h3 {
    font-style: normal;
    font-size: 2.2rem;
  }

h3 ,.h3{
    color: white;
    text-transform: uppercase;
  }  

  // Input items
  ion-label,
  .input-has-focus {
    color: #fff !important;
  }
  ion-item {
    border-radius: 3px !important;
    padding-right: 16px !important;
    margin-bottom: 5px !important;
    color: #fff !important;
    background-color: transparent !important;
    font-size: 0.9em;
    
  }
  .margin-bottom {
    margin-bottom: 15px !important;
  }
   ::-webkit-input-placeholder {
    color: white !important;
  }
  .item-inner {
    border-bottom: 2px solid white !important;
    box-shadow: none !important;
  }
  //
  .login-button {
    width: 100%;
    max-width: 40rem;
    height: 50px;
    font-size: 1.2em;
    span {
      color: $base-color !important;
    }
    // border: 1px solid #fff;
  }
  .forgot-button {
    font-weight: bold;
    float: right;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }

  .facebook-button {
    font-weight: bold;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .goback-button {
    font-weight: bold;
    float: left;
    ion-icon {
      padding-right: 10px;
      font-size: 2.2rem;
    }
  }
  .slide-button {
    //margin-top: 4rem;
    font-weight: bold;
    ion-icon {
      padding-left: 10px;
      font-size: 2.2rem;
    }
  }
  .position-bottom {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    margin: 0 auto;
    width: 200px;
  }
  .edit-button{
     text-transform: none;
}
}
